body{
  overflow: hidden;
}
.flag {
display: flex;
}

.izquierda,
.centro,
.derecha{
  flex: 1;
}

.izquierda,
.derecha {
  width: calc(100vw/3);
  height: 100vh;
  background-size: cover;
  object-fit: cover; 
}

.izquierda {
  background-image: url("../img/Tallarines_Rojos.png");
}

.derecha {
  background-image: url("../img/plato3.jpg");
}

.centro p {
  font-family: "Montez";
  margin-top: 170px;
  padding: 40px;
  font-size: 30px;
  text-align: center;
}

.color_centro{
  background-color: #ADC587;
}