body {
  background-color: #adc587;
}

.container {
  display: flex;
  flex-direction: row-reverse; 
  justify-content: space-between; 
  padding: 0 2rem;
}

.card {
  width: 200px;
  height: auto;
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

h1 {
  padding-top: 30px;
  font-family: "Montez";
}

.card:first-child {
  margin-left: 0; 
}

.card:last-child {
  margin-right: 0;
}