body {
  margin: 0;
}

.izquierda,
.derecha {
  width: 50vw;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.izquierda {
  background-image: url("../img/plato_fideos_verduras.jpeg");
}

.derecha {
  background-image: url("../img/plato_camarones.jpg");
}

.flag {
  display: flex;
}

.titulo {
  font-family: "Montez";
  font-size: 50px;
  text-align: center;
}

.parrafo {
  font-size: 30px;
}

.btn {
  background-color: #adc587;
  border-radius: 27px;
  padding: 15px 30px;
  margin-left: auto; /* Mueve el botón a la derecha */
}

.abajo {
  background-color: #e39d44;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
  width: 100vw;
  height: 40vh;
}

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}

.parrafo {
  margin-right: auto; /* Mueve el párrafo a la izquierda */
}

.font_text{
    font-family: "Montez";
}